body{
    background-color: white;
    background-position-x: 20%;
}
header{
    padding: 0.5px;
    display: flex;
    justify-content: space-around;
    button{
        width: 10%;height: 45px;
        border-color:rgb(31, 115, 211);
        border-radius: none;
    }

}
b{
    font-weight: bold;
}
.index{
    background-color: #EEFEFF;
    background-color: color-mix(in srgb, color 50%, color 50%);
}
h1{
    text-align: center;
}
.but{
    width: 12%;
    height: 40px;
    border: none;
    background-color:#0CBBC7;
    color: white;
    font-weight: 600;
}
.second{
    text-align: center;
    
}
.img1{
    background: linear-gradient(to top, white 50%, #EEFEFF 50%);
}
.entrance{
box-shadow: -1px 5px 20px 5px;
border-radius: 10px;
}
.customer{
    font-size-adjust:0.3;
    padding: 4px;
    background-color: rgb(197, 255, 255);
    color: rgb(1, 177, 177);
    display: inline-block;
    border-radius: 10px;
    height: 15px;
    font-family: sans-serif;
    font-size: 18px;;
}

.page1{
    list-style-type:none;;
    display: flex;
    justify-content: space-evenly;
}
hr{
    color:white;
}
.alignleft{
    float:left;
}
.imgalignright{
    max-width: 59%;
    max-height: 400px;
    float:right;
    border-radius: 15px;
}
.flex1{
    display: flex;
    justify-content: space-evenly;
}
.but2{
    width: 30%;
    height: 40px;
    border: none;
    background-color:#0CBBC7;
    color: white;
    font-weight: 600;
}
.grid_container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .grid-item {
    /*background-color: rgba(129, 194, 255, 0.8);*/
    border: 4cap solid white;
    justify-content: center;
    width: 60%;
    height: 60%;
    padding: 40px;
  }
.font_thin{
    font-family: sans-serif;
    font-weight: 1;
    font-style: normal;
}
.foot{
        list-style-type:none;
}
.listclr{
    font-family: sans-serif;
    line-height: 260%;
    color: rgb(110, 110, 110);
}
footer{
    background-color: rgb(8, 8, 8);
}
.flex2{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}
.but3{
    width: 26%;
    height: 35px;
    border: none;
    background-color:#0CBBC7;
    color: white;
}
.but4{
    height: 35px;
    border-color:aqua;
    color: rgb(0, 156, 156);
    border-radius: none;
    margin-left: 5%;
    background-color: white;
}
.center{
    margin-top: 10%;
    width: 30%;
}
.flex3{
    display: flex;
    justify-content: space-evenly;
    margin: 8%;
}
.grid{font-family: sans-serif;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 10px;
    margin-left: 8%;
    margin-right: 10%;
  }
  .grid1 {;
    -webkit-text-stroke: 5x;
    background-color: ;
    border: 20px solid #defafc;
    justify-content:center;
    width: 77%;
    padding: 40px;
  }
  h4{
    font-weight: 100;
    color: rgb(68, 68, 68);
  }
  .butReadMore{
        font-weight: 700;
        width: 38%;
        height: 35px;
        border: none;
        background-color:#0CBBC7;
        color: white;
  }
  .img8{
    box-shadow: -1px 5px 20px 5px;
  }
  .copyRight{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color:rgb(110, 110, 110) ;
    margin-left: 2%;
    margin-right: 2%;font-size: small;
  }
  .flex4{
    display: flex;
    font-family: sans-serif;
    /*margin-left: 7%;
    margin-right: 2%;*/
    justify-content: space-evenly;
    background-color: #EEFEFF;
  }
  .Create{
    float: left;
    width: 45%;
  }
  .but5{
    color: white;
    background-color:#0CBBC7;
    font-weight: 750;
    font-family: sans-serif;
    height: 40px;
    border-color:aqua;
    width: 45%;    
  }
  video{
    width: 25%;
    justify-content: right;
    border-style:hidden;
  }
  .vidcls{
    displ
  }